body {
	font-family: Helvetica;
	font-size: 18px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* HEADER CONTENT */

.header {
	background-image: url("../../resources/images/glasses-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 30rem;
}

.content {
	background-color: cadetblue;
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem 0;
	position: relative; 
	top: 1rem;

}

.header .left {
	display: flex;
	align-items: center;
	flex-grow: 1;
	color: white;
}

.left img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

.right span {
	padding-right: 2rem ;
	color: white;
}

.headline {
	position: relative;
	top: 11rem;
	float: right;
	padding: 1.5rem 5rem 1.5rem 5rem;
	background-color: white;
}

.headline span {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	text-transform: uppercase;
}


/* BODY CONTENT */

.container .products {
	 position: relative;
	 top: 3rem;
}
.products {
	display: flex;
	height: 8rem;
	justify-content: center;
}

.exams img {
	width: 3.5rem;

}

.fittings img {
	width: 5rem;
}

.delivery img {
	width: 5rem;
}

.product {
	display: flex;
	flex-direction: column;
	padding-right: 6rem;
	text-align: center;
}

.product .sub-title {
	flex-grow: 1;
}




.container .company-info {
	position: relative;
	top: 14rem;
}

.company-info {
	display: flex;
	justify-content: space-around;
}

.info h3 {
	background-color: cadetblue;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 0 0.5rem 1.25rem;
	width: 10rem;
}

.info p {
	padding-top: 1rem;
}

.philosophy {
	padding-right: 2.5%;
}

.philosophy p {
	width: 35%;
	padding-bottom: 5rem;
}
.appointments {
	padding-left: 2.5%;
}

.container .footer{

}

.footer {
}