body {
	font-family: Helvetica;
	font-size: 18px;
}

.container {
	max-width: 960px;
	margin: 0 auto;

}

/* HEADER CONTENT */

.header {
	background-image: url("../../resources/images/glasses-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 30rem;
	margin-bottom: 3rem;

}

.content {
	background-color: cadetblue;
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem 0;
	position: relative; 
	top: 1rem;

}

.header .left {
	display: flex;
	align-items: center;
	flex-grow: 1;
	color: white;
}

.left img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

.right span {
	padding-right: 2rem ;
	color: white;
}

.headline {
	position: relative;
	top: 11rem;
	float: right;
	padding: 1.5rem 5rem 1.5rem 5rem;
	background-color: white;
}

.headline span {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	text-transform: uppercase;
}


/* BODY CONTENT */

.container .products {
}
.products {
	display: flex;
	height: 8rem;
	justify-content: center;
	margin-bottom: 3rem;
	
}

.exams img {
	width: 3.5rem;

}

.fittings img {
	width: 5rem;
}

.delivery img {
	width: 5rem;
}

.product {
	display: flex;
	flex-direction: column;
	padding-right: 6rem;
	text-align: center;
}

.product .sub-title {
	flex-grow: 1;
}


/* COMPANY INFO CONTAINER */

.company-info {
	display: flex;
	margin-bottom: 5rem;
	justify-content: center;

}


.info-title {
	display: flex;
	flex-direction: column;
	background-color: cadetblue;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 0 0.5rem 1.25rem;
	width: 10rem;
	color: white;
	margin-bottom: 1rem;
}

.info {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.info-left {
	margin-right: 5%;
}
/* FOOTER CONTENT */
.footer {
	background-color: azure;
}

.footer-content {
	display: flex;
	align-items: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.footer-content img {
	height: 1.5rem;
	padding-left: 4rem;
	padding-right: 1rem;
}